* {
    padding: 0;
    margin: 0;
}


body {
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 15px;
}

.in {
    background: rgb(0, 190, 253);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

header {
    background: url("https://images.unsplash.com/photo-1429808016056-f8a16278ebff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1807&q=80");
    background-position: center;
    background-size: cover;
    height: 600px;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 200px;
    margin: 40px;
    text-align: center;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header input {
    height: 35px;
    border-radius: 4px;
    border: none;
    width: 400px;
    margin-right: 10px;
}

header button {
    background: rgb(0, 190, 253);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 90px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 40px;
    background: rgb(231, 231, 231);
}

.article {
    text-align: center;
    padding: 20px;
    margin: 50px;
    line-height: 1.5;
}

.article p {
    /* color: grey; */
}

.left {
    width: 50%;
    height: auto;
    float: right;
}

.right {
    width: 50%;
    height: auto;
    float: left;
}

main {
    /* height: 1500px; */
}

main p {
    /* color: gray; */
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 133px;
    flex-direction: column;
}


.people {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: auto;
}

.people2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 50px;
}

.people2 p {
    /* color:gray; */
    max-width: 300px;
}

.round {
    height: 90px;
    border-radius: 50px;
}

.small {
    background: url("https://images.unsplash.com/photo-1429808016056-f8a16278ebff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1807&q=80");
    background-position: center;
    background-size: cover;
    height: 300px;
    text-align: center;
}

.small h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 100px;
    margin: 20px;
}

.small div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small input {
    height: 25px;
    border-radius: 4px;
    border: none;
    width: 200px;
    margin-right: 10px;
}

.small button {
    background: rgb(0, 190, 253);
    color: white;
    padding: 4px;
    border: none;
    border-radius: 4px;
    width: 90px;
}

.bottom {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}

.footer p {

    /* color: gray; */
}

.footer {
    /* width: 400px; */
}

.icons {
    display: flex;
    gap: 20px;
    padding: 20px;
}